
{% extends 'admin_base.html' %}
{% load static %}
{% block main %}
<div class="card  m-5">
    <div class="card-body">
        <h5 class="p-2 " style='border-bottom:2px solid orange'>Add Department</h5>
        <div class="container-fluid">
            <form action='add_department' method="post" >
                {% csrf_token %}

                <div class="form-group">
                    <label for="department">Department</label>
                    <input type="text" id="department" name="department" class="form-control" value="{{department}}" required>
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input type="text" id="location" name="location" class="form-control" value="{{location}}" required>
                </div>

                <br>
                <input type="submit" value="submit" class="btn btn-primary"></input>
            </form>
              {% for msg in messages %}
            <div class="alert alert-success" role="alert">
                {{msg}}
            </div>
            {% endfor %}

                </div>

        </div>
    </div>
{% endblock %}






