{% include 'base.html' %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<div class="card  m-5">
    <div class="card-body">
        <h5 class="p-2 " style='border-bottom:2px solid orange' align="center">Admin Login</h5>
        <div class="container-fluid">
            <form action='admin_login' method="post" >
                {% csrf_token %}
                <div class="row">
                    <label for="username">User Name</label>
                    <input type="text" id="username" name="username" class="form-control" value="{{username}}" required>
                </div>
                <div class="row">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" class="form-control" value="{{password}}" required>
                </div>
                        <br>
                    <div>
                <input type="submit" value="submit" class="btn btn-primary"></input>
                </div>

            </form>
                </div>

        </div>
    </div>
<script>
{% for msg in messages %}
   swal("{{msg}}");
{% endfor %}


    </script>

{% include 'footer.html' %}