
{% extends "employee_base.html" %}

{% block main %}
  <h5 class="p-2 " style='border-bottom:2px solid orange'>Task submission</h5><br>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-success" id="submit-button">
      {% if uploaded_file_name %}
        Uploaded: {{ uploaded_file_name }}
      {% else %}
        Upload
      {% endif %}
    </button>
  </form>

  {% for msg in messages %}
    <div class="alert alert-success" role="alert">
      {{ msg }}
    </div>
  {% endfor %}
{% endblock %}
