
{% include 'base.html' %}
{% load static %}

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'employee3.jpg' %}" class="d-block w-100" alt="hjhjjhj" height="640">
      <div class="carousel-caption d-none d-md-block">
        <h1><b>Employee Management System</b></h1>
        <h5>Welcome to our Employee Management System, your one-stop solution for HR and workforce management</h5>
        <h6>Effortlessly track employee attendance, leaves, and performance with our user-friendly software.</h6>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'employee2.jpg' %}" class="d-block w-100" alt="..." height="640">
      <div class="carousel-caption d-none d-md-block">
        <h1><b>Employee Management System</b></h1>
         <h5>24/7 customer support and training resources to assist you in using our Employee Management System effectively</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'employee4.png' %}" class="d-block w-100" alt="..." height="640" >
      <div class="carousel-caption d-none d-md-block">
        <h1><b>Employee Management System</b></h1>
        <h5>Efficiently onboard new employees and manage their training and development with our system.</h5>
        <h6>Access a comprehensive database of employee records for quick reference and decision-making.</h6>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% include 'footer.html' %}
